---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
---

<BaseLayout title="Sobre mí | Jafer Lopez" description="Sobre Jafet Lopez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Sobre mí"
				tagline="Gracias por pasar por aquí. Lee a continuación para conocer más sobre mí y mi trayectoria."
			>
				<img
					width="1553"
					height="873"
					src="/assets/CodeReddit.webp"
					alt="Jafet Lopez trabajando con un colega"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre mi</h2>
				<div class="content">
					<p>
						Desarrollador backend con experiencia sólida en Java y Node.js. Apasionado por resolver problemas desde 
						distintos enfoques y por construir soluciones escalables. Durante mis prácticas trabajé con múltiples equipos, 
						fortaleciendo mi capacidad de adaptación, colaboración y aprendizaje mutuo.
					</p>
					<ul>
						<li>
							Resuelvo problemas de forma creativa, adaptándome a distintos contextos y necesidades del proyecto.
						</li>
						<li>
							Abierto a aprender nuevas tecnologías y metodologías, trabajando con personas talentosas.
						</li>
						<li>
							He liderado iniciativas técnicas como la migración a despliegues automatizados y el desarrollo de dashboards.
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<div>
						<h3 class="section-subtitle">Lenguajes</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=java,javascript,cs,kotlin&perline=7"
							alt="Lenjuajes de programación que maneja Jafet Lopez, Java, Kotlin, JavaScript,C#"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Frameworks y Librerías</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=spring,express,dotnet&perline=7"
							alt="Frameworks y librerías que maneja Jafet Lopez, Spring, Express,.NET"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Herramientas</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=git,docker,github,nodejs,firebase,idea,vscode,postman,mysql,postgresql&perline=6"
							alt="Herramientas que maneja Jafet Lopez, Git, Docker, GitHub, NodeJS, Firebase, IntelliJ IDEA, Visual Studio Code, Postman,MySQL, PostgreSQL, NoSQ"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Aprendiendo</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=bash,azure,aws,golang&perline=7"
							alt="Herramientas que está aprendiendo Jafet Lopez, Azure, AWS"
						/>
					</div>
					<div>
						<h3 class="section-subtitle">Acercamientos</h3>
						<img class="img-skill"
							src="https://skillicons.dev/icons?i=py,go,php,gcp,nginx&perline=7"
							alt="Herramientas que en algun momento utilizo Jafet Lopez, Python, PHP, Google Cloud Platform, nginx"
						/>
					</div>
				</div>
			</section>
			<section>
				<h2 class="section-title">Educación</h2>
				<div class="content">
					<div class="gallery">
						<Grid variant="offset">
							{
								[
									{
										title: 'Tecnología en Sistemas de Datos',
										institution: 'Universidad Distrital Francisco José de Caldas',
										year: '2021 - Presente',
									},
									{
										title: 'Despliegue de Aplicaciones en Docker',
										institution: 'SENA',
										year: '2023',
									},
									{
										title: 'Front End, Oracle Next Education F2 T3 ',
										institution: 'Alura LATAM',
										year: '2022',
									},
									{
										title: 'Curso de Typescript',
										institution: 'CodigoFacilito',
										year: '2024',
									},
									{
										title: 'Bootcamp Intensivo Azure AI 102',
										institution: 'CodigoFacilito',
										year: '2024',
									}
								].map(({ title, year, institution }) => (
									<div class="education-card">
										<div>
											<p><strong>{title}</strong></p>
											<p>{institution}</p>
											<p>{year}</p>
										</div>
									</div>
								))
							}
						</Grid>
					</div>
				</div>
			</section>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.img-skill {
		border-radius: 0;
		box-shadow: none;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}
	.section-subtitle {
		font-size: var(--text-lg);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}
	.education-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
		.gallery {
			grid-area: gallery;
		}
		.education-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
